
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais da barra de navegação */
nav {
  background-color:black;
  padding: 50px 80px; /* Espaçamento dentro da barra */
 display: flex;
  justify-content: space-between; /* Alinha logo à esquerda e links à direita */
  align-items: center; /* Alinha a logo e os links verticalmente */
}

/* Logo - Ajuste o tamanho da imagem conforme necessário */
.logo img {
  height: 80px; /* Ajuste o tamanho da logo */
}

/* Estilos do menu de navegação */
nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin: 0 15px; /* Espaço entre os itens do menu */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Responsividade - Exibe os links em coluna em telas menores */
@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav ul li {
      margin: 10px 0; /* Ajusta o espaçamento entre os itens em telas pequenas */
  }
}