body {
  background-color: #FFFAF0;
}

nav {
  padding: 20px;
  background-color: #000000;
  overflow: hidden;
}

nav a {
  float: right;
  display: block;
  color: #008947;
  text-align: center;
  padding: 3px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #008947;
  color: black;

}

.logo {
  height: 90px;
}

.produtos {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}