hr {
  border: #0f1d26;
  height: 6px;
  background-color: #ee5529;
  margin: 5px 5;
}
body {
  background-color: var(--bg-color);
  color: black;
}
h1 {
  color: #ee5529;
}
nav {
  padding: 12px;
  background-color: #0f1d26;
  overflow: hidden;
}

nav a {
  float: right;
  display: block;
  color: #ee5529;
  text-align: center;
  padding: 3px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ee5529;
  color: #0f1d26;

}

.logo {
  height: 90px;
}

.produtos {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #fafafa;
}
.dark-mode:root{
  --bg-color: #0f1d26;
}
